@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --padding-6: 16px;
    --padding-8: 24px;

    --gap-3: 8px;


    font-family: Pretendard;
    background-color: white;

    --color-text-subtler: #9E9E9E;
    --color-text-danger: #DE3412;

    --typo-font-type: 'Pretendard';
    --typo-letter-spacing-0: 0px;
    --font-size-body-large: 19px;
    --font-size-body-small: 15px;
    --font-size-label-small: 14px;
    --font-size-label-xsmall: 12px;

    --radius-4: 8px;
    --border-width-regular: 1px;
    --border-width-variable-regular: 1px;

    --color-input-border-active: #212121;
    --color-input-border: #BDBDBD;
    --color-input-surface: #FFF;

    --gap-7: 24px;
    --gap-8: 32px;

    --color-text-basic: #212121;
    --color-text-basic-inverse: #FFF;

    --typo-label-small-letter-spacing: 0px;

    --color-button-disabled-fill: #EAEAEA;
    --color-button-primary-fill: #FC5E03;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.default-layout {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    min-width: 320px;
    padding: 0 20px;
    max-width: 320px;
    min-height: 812px;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
}

input[type=text] {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-color: #9A9A9A
}

input[type=password] {
    flex: 1 0 0;
    color: var(--color-text-subtler, #9E9E9E);
    /* body/small */
    font-family: var(--typo-font-type, Pretendard);
    font-size: var(--font-size-body-small, 15px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    letter-spacing: var(--typo-letter-spacing-0, 0px);
}

input[type=text]:focus {
    border: none;
    outline: none;
    --tw-ring-color: #ffffff;
    --tw-ring-shadow: none;
}

input[type=password]:focus {
    border: none;
    outline: none;
    --tw-ring-color: #ffffff;
    --tw-ring-shadow: none;
}